.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-content img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */

}